:root {
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral900: hsl(248, 70%, 10%);
    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);
    --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", serif;
}

.display-data {
    display: none;
}

.display-data .headings {
   padding: 0 2rem 0 2rem;
}

.display-data .headings p {
    padding: 0 25% 0 25%;
}

.display-data.show {
    display: block;
}

.ticket-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

img {
    max-width: 100%;
    display: block;
}

.first-logo {
    margin-top: 2rem; /* Space above the logo */
     /* Space below the logo */
    width: 150px; /* Set a reasonable width */
}

body {
    background-color: var(--Neutral900);
    font-family: "Inconsolata", serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    background: url(./assets/images/background-desktop.png) no-repeat center center / cover;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    aspect-ratio: 16 / 9;
    display: grid;
    place-content: center;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
}

.svg-image {
    position: absolute;
}

.svg-image:nth-child(1) {
    width: 100%;
}

.svg-image:nth-child(1) img {
    width: 100%;
}

.svg-image:nth-child(2) {
    top: 100px;
    right: 0;
}

.svg-image:nth-child(3) {
    left: 0;
    bottom: 0;
}

.svg-image:nth-child(4) {
    top: -100px;
    left: 100px;
}

.svg-image:nth-child(5) {
    top: 50%;
    right: 350px;
}

.headings {
    margin: 1.5rem 0; /* Consistent spacing */
    text-align: center;
}

.headings h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    width: 100%;
}

.headings p {
    font-size: 1rem;
    opacity: 70%;
}

.gradient-text {
    background: var(--Gradient-text);
    background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-email {
    color: hsl(7, 86%, 67%);
}

#ticket-form {
    width: 100%; /* Full width on smaller screens */
    max-width: 500px; /* Limit width for better readability */
    margin: 0 auto; /* Center horizontally */
}

.form-content {
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    margin: auto;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content.hide {
    display: none;
}

.form-content.logo {
    margin: 0 auto 2rem auto;
}

.form-item {
    margin-bottom: 1rem;
}

.form-item label {
    font-family: "Inconsolata", serif;
    margin-bottom: .5rem;
    font-size: 13px;
    display: block;
}

.form-item input {
    border: solid 1px rgb(135, 130, 130);
    width: 100%;
    padding: 10px;
    border-radius: .5rem;
    background-color: hsl(246, 43%, 17%);
    color: white;
    font-family: "Inconsolata", serif;
    transform: all 200ms ease;
}

.form-item input:hover {
    background-color: hsla(246, 15%, 58%, .6);
}

.form-item input.error {
    border: 1px solid --Neutral500;
}

.form-item .upload-hint {
    color: var(--Neutral300);
    font-size: .5rem;
    display: flex;
    gap: .5rem;
}

.form-item .upload-hint.error {
    color: var(--Orange500);
}

.form-item .text-hint {
    color: var(--Neutral300);
    font-size: .6rem;
    gap: .5rem;
    display: flex;
    margin-top: .7rem;
    display: none;
}

.form-item .text-hint.error {
    color: var(--Orange500);
    display: flex;
}

.form-item .upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: hsl(246, 43%, 17%);
    outline: 2px dashed hsl(245, 15%, 58%);
    transition: all 200ms ease;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}

.form-item .upload-box:hover {
    background-color: hsl(246, 43%, 17%);
}

.form-item .upload-box .file-input {
    display: none;
}

.form-item .upload-box .uploaded-image {
    border: solid 1px hsl(246, 18%, 31%);
    background-color: hsl(245, 19%, 35%);
    border-radius: .5rem;
    height: 50px;
    width: 50px;
    margin-bottom: .5rem;
    padding: .2rem;
}

.form-item .upload-box .uploaded-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.message-action.hide {
    display: none;
}

.message-action button {
    cursor: pointer;
    background-color: hsl(245, 15%, 58%);
    color: hsl(252, 6%, 83%);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.file-action {
    display: none;
    margin-top: 1rem;
}

.file-action.show {
    display: block;
}

.file-action button {
    cursor: pointer;
    background-color: hsl(245, 15%, 58%);
    color: hsl(252, 6%, 83%);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.generate-ticket {
    background-color: var(--Orange500) !important;
    color: black;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer !important;
    width: 100%;
    font-size: 1rem;
    transition: all 200ms ease;
    border-radius: .5rem;
    font-family: var(--Gradient-text);
}

.generate-ticket:hover {
    background-color: var(--Orange700) !important;
}

.display-data {
    padding: 1rem;
    width: 100%;
    position: relative;
    z-index: 20;
}

.display-data .logo {
    margin: 0 auto 2rem auto;
}

.display-data .headings {
    margin-bottom: 6rem;
    text-align: center;
}

.display-data .headings p {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.display-data .ticket-container {
    background-color: var(--Neutral500);
    background: url(./assets/images/pattern-ticket.svg) no-repeat;
    background-size: contain;
    aspect-ratio: 16 / 9;
    padding: 1rem 0 3rem 1rem;
    margin: 0 auto 0 auto;
    position: relative;
    border-radius: .5rem;
}

.display-logo {
    width: 150px;
}

.ticket-container .date {
    color: var(--Neutral300);
    padding: .5rem 0 0 2rem;
    font-size: .9rem;
}

.ticket-container .ticket-user {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 2.5rem;
    padding: 0 0 2rem 0;
}

.ticket-user img {
    width: 40px;
    border-radius: .5rem;
}

.ticket-user .user-info .github-username {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.github-username img {
    width: 20px;
}

.ticket-number {
    position: absolute;
    transform: rotate(90deg);
    font-size: 1.75rem;
    color: var(--Neutral500);
    top: 30%;
    right: .1px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 30px 15px;
}

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

@media (min-width: 1440px) {

    .display-data {
        display: none;
    }

    .display-data.show {
        display: block;
    }

    .content-container {
        width: 50%;
    }

    .svg-image:nth-child(2) {
        top: 50px;
    }

    .svg-image:nth-child(4) {
        top: -80px;
        left: -30px;
    }

    .form-content .headings h1 {
        font-size: 2.5rem;
        padding: 0 3rem 0 3rem;
        line-height: 3rem;
    }

    .image-container {
        overflow-y: hidden;
    }

    #ticket-form {
        width: 50%; /* Wider on smaller screens*/
    }

    .form-content {
        padding: 1rem 0;
    }

    .display-data .headings h1 {
        font-size: 2.5rem;
        padding: 0 4rem 0 4rem;
        line-height: 3rem;
    }

    .display-data .headings p {
        padding: 0 9rem 0 9rem;
        line-height: 1.5rem;
    }

    .ticket-container {
        width: 60%;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ticket-user {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    .display-logo {
        width: 900px;
    }

    .ticket-user img {
        width: 50px;
    }

    .github-username {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        gap: .5rem;
        color: var(--Neutral300);
        padding: 0;
        margin: 0;
    }

    .github-username img {
        width: 15px;
        height: 15px;
        margin: 0;
        padding: 0;
    }

    .ticket-container .date {
        margin-bottom: 4.2rem;
        padding: .5rem 0 0 3rem;
    }

    .ticket-number {
        font-size: 2rem;
    }

    #display-name {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
}